<launch>
    <node name="joint_subscriber" pkg="vv_kuwamai_bringup" type="joint_subscriber" />
    <node name="arm_ik" pkg="vv_kuwamai_bringup" type="ik.py" />
    <node name="pose_to_point" pkg="vv_kuwamai_apps" type="pose_to_point.py" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
