<launch>
    <!-- arguments -->
    <arg name="model" default="$(find vv_kuwamai_description)/robots/vv_kuwamai.urdf.xacro"/>
    <arg name="gui" default="True" />
    <!-- prameters -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <!-- nodes -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vv_kuwamai_description)/launch/config/urdf.rviz" required="true" />
</launch>
